name: Nix Docker Build

on:
  push:
  pull_request:

env:
  # errexit and pipefail set by the runner
  SHELLOPTS: nounset

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:

      - name: Checkout
        uses: actions/checkout@v6

      - name: Nix Setup
        uses: cachix/install-nix-action@v31

      - name: Cachix Setup
        uses: cachix/cachix-action@v16
        with:
          name: ${{ github.event.repository.name }}
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Build
        run: nix build

      - name: GHCR Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: GHCR Tag & Push
        run: |-
          docker load < result
          name=ghcr.io/${{ github.repository }}
          for tag in ${{ github.sha }} $(git describe --tags --always) latest; do
            docker tag ${{ github.event.repository.name }}:${{ github.sha }} ${name}:$tag
          done
          docker push --all-tags ${name}
